@charset "UTF-8";
/* Tipografía local Cormorant-Garamond*/
@import url("https://fonts.googleapis.com/css2?family=Proza+Libre:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@font-face {
  font-family: "Cormorant-Garamond";
  src: url("../recursos/fonts/CormorantGaramond-Regular.ttf"); }

/* Tipografía web  Proza Libre */
* {
  margin: 0;
  padding: 0;
  font-family: 'Proza Libre', sans-serif; }

header {
  background-color: #14213D;
  padding: 20px;
  text-align: center; }
  header h1 {
    color: #E5E5E5;
    font-family: 'Cormorant-Garamond';
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    animation: fadeInDown 1s ease;
    transition: color 0.3s ease; }
    header h1:hover {
      color: #000000; }
  header nav {
    background-color: #14213D; }
    header nav .logo {
      margin-right: 10px;
      transition: transform 0.3s;
      animation: bounce 2s infinite alternate; }
    header nav .navbar-nav .nav-link {
      color: #E5E5E5; }
      header nav .navbar-nav .nav-link:hover {
        color: #FCA311; }

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@keyframes bounce {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-5px); } }

#main-index .presentacion h2 {
  text-align: center; }

#main-index .presentacion .contenedor-video {
  display: flex;
  justify-content: center; }

#main-index .historia h2 {
  text-align: center; }

#main-index .historia .contenedor-texto-historia {
  max-width: 850px;
  margin: auto; }

#main-index .personal h2 {
  text-align: center; }

#main-index .personal .contenedor-cards {
  display: flex;
  justify-content: space-evenly; }

#main-reservas .consultar h2 {
  text-align: center;
  margin: 1rem; }

#main-reservas .consultar .formulario {
  max-width: 400px;
  /* Ancho máximo del formulario */
  margin: 0 auto;
  /* Centrar el formulario en la página */
  padding: 20px;
  /* Espaciado interno */
  background-color: #f5f5f5;
  /* Color de fondo */
  border-radius: 10px;
  /* Bordes redondeados */ }
  #main-reservas .consultar .formulario label {
    display: block;
    /* Mostrar etiquetas en una línea diferente */
    margin-bottom: 5px;
    /* Espacio inferior entre etiquetas */
    font-weight: bold;
    /* Texto en negrita */ }
  #main-reservas .consultar .formulario input[type="date"],
  #main-reservas .consultar .formulario input[type="number"],
  #main-reservas .consultar .formulario input[type="checkbox"] {
    width: 100%;
    /* Ancho completo del campo */
    padding: 10px;
    /* Espaciado interno */
    margin-bottom: 10px;
    /* Espacio inferior entre campos */
    border: 1px solid #ccc;
    /* Borde del campo */
    border-radius: 5px;
    /* Bordes redondeados */ }
  #main-reservas .consultar .formulario .boton-consultar {
    background-color: #007bff;
    /* Color de fondo del botón */
    color: #fff;
    /* Color del texto del botón */
    padding: 10px 20px;
    /* Espaciado interno del botón */
    border: none;
    /* Eliminar el borde del botón */
    border-radius: 5px;
    /* Bordes redondeados */
    cursor: pointer;
    /* Cambiar el cursor al pasar por encima del botón */ }
    #main-reservas .consultar .formulario .boton-consultar:hover {
      background-color: #0056b3;
      /* Cambiar el color de fondo al pasar el cursor */ }

#main-reservas .consultar p {
  max-width: 850px;
  text-align: center; }

#main-equipos {
  max-width: 800px;
  /* Ancho máximo del bloque principal */
  margin: 0 auto;
  /* Centrar el bloque en la página */
  padding: 20px;
  /* Espaciado interno */ }
  #main-equipos h2 {
    animation: fadeInUp 1s ease;
    /* Animación de entrada */ }
  #main-equipos form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centrar elementos horizontalmente */
    margin-bottom: 20px; }
    #main-equipos form input[type="number"] {
      width: 30%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 5px; }
    #main-equipos form input[type="submit"] {
      background-color: #007BFF;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      /* Transición de color de fondo */ }
      #main-equipos form input[type="submit"]:hover {
        background-color: #0056b3;
        /* Cambiar el color de fondo al pasar el cursor */ }
  #main-equipos section {
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px; }
    #main-equipos section h3 {
      animation: fadeInUp 1s ease;
      /* Animación de entrada */ }
    #main-equipos section iframe {
      border: none; }

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px); }
  to {
    opacity: 1;
    transform: translateY(0); } }

#main-contacto {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center; }
  #main-contacto form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    text-align: left; }
    #main-contacto form label {
      font-weight: bold; }
    #main-contacto form .entradas {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 5px; }
    #main-contacto form input[type="submit"] {
      background-color: #007bff;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      grid-column: span 2; }
      #main-contacto form input[type="submit"]:hover {
        background-color: #0056b3; }

footer {
  background-color: #14213D;
  color: #E5E5E5;
  padding: 30px 0; }
  footer .fila {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    footer .fila .columna {
      flex-basis: calc(33.33% - 20px);
      margin-right: 20px; }
      footer .fila .columna h3 {
        font-size: 24px; }
      footer .fila .columna ul {
        list-style: none;
        padding: 0; }
        footer .fila .columna ul li {
          margin-bottom: 10px; }
          footer .fila .columna ul li .enlace {
            color: #E5E5E5;
            text-decoration: none;
            transition: color 0.3s; }
            footer .fila .columna ul li .enlace:hover {
              color: #FCA311; }
