header {
  background-color: $color-azul;
  padding: 20px;
  text-align: center;

  h1 {
    color: $color-plateado;
    font-family: "Cormorant-Garamond";
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    animation: fadeInDown 1s ease;
    transition: color 0.3s ease;
    &:hover {
      color: $color-negro;
    }
  }
  nav {
    background-color: $color-azul;
    .logo {
      margin-right: 10px;
      // width: 30px;
      transition: transform 0.3s;
      animation: bounce 2s infinite alternate;
    }
    .navbar-toggler-icon {
      stroke: $color-plateado;
    }
    .navbar-nav {
      .nav-link {
        color: $color-plateado;
        &:hover {
          color: $color-naranja;
        }
      }
    }
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}

@media (max-width: 768px) {
  header h1 {
    font-size: larger;
  }
}
@media (max-width: 420px) {
  header h1 {
    font-size: smaller;
  }
}
