#main-reservas {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  .boton {
    color: $color-plateado;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background-color: #0056b3;
    }
  }
  .consultar {
    h2 {
      @include h2-center-animado;
    }
    .formulario {
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      background-color: #f5f5f5;
      border-radius: 10px;
      label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
      }
      input[type="date"],
      input[type="number"],
      input[type="checkbox"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
      .boton-consultar {
        @extend .boton;
        background-color: #007bff;
      }
    }
  }
  .container {
    .boton-reservar {
      @extend .boton;
      background-color: #0dcaf0;
      color: $color-negro;
    }
  }
}
