#main-index {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  h2 {
    @include h2-center-animado;
  }
  .presentacion {
    .contenedor-video {
      display: flex;
      justify-content: center;
    }
  }

  .historia {
    .contenedor-texto-historia {
      max-width: 850px;
      margin: auto;
    }
  }

  .personal {
    .contenedor-cards {
      display: flex;
      justify-content: space-evenly;
    }
  }
}
